body {
	font-family: 'Open Sans Condensed';
	font-size: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans Condensed';
}

pre {
	font-size: 0.8em;
}

code {
	font-family: 'Source Code Pro';
}