---
layout: default
---

<div class="col-md-9">
	<h1>Blog</h1>
	<dl class="dl-horizontal">
{% for post in site.posts %}
	<dt style="padding-top:6px;"><span>{{ post.date | date_to_string }}</span></dt>
	<dd><a href="{{ post.url }}" style="font-size:1.4em">{{ post.title }}</a><br />{{ post.excerpt }}</dd>
{% endfor %}
	</dl>
</div>
<div class="col-md-3">
	<h2>Tags</h2>
{% for tag in site.tags %}
	<span style="margin-right:10px">
		<a href="/{{ tag | first | slugize }}/">
			{{ tag | first }} <span class="badge">{{ tag | last | size }}</span>
		</a>
	</span>
{% endfor %}
</div>